:root {
    --primary-color: #9ae4e2; 
    --secondary-color: rgb(98, 96, 96); 
    --tertiary-color:#0e1f5b; 
}

* {
    margin:0;
    padding:0; 
    box-sizing: border-box;
}

header {
    padding: 0px 10px;
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0%;
    margin: 0%;
    height: 80px;
    

}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
    list-style: none;
    
} 
 
header nav ul a {

    padding: 5px 10px;
    font-size: 1.55vw;
    color: var(--primary-color);
    
}
header h1 {
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    
}

header h1 a {
font-size: 30px;
font-weight: bold;
color: var(--secondary-color);

}

/* hero */

.hero {
    background-image:url(./images/img-milky-way.jpeg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0px;
}
.hero h2 {
    font-size: 58px; 
    border-right-style: none;
    color: var(--primary-color);
}

/* About Me*/
article {
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    padding: 35px;
    
}

article h2 {
    align-self: flex-start;
    padding: 0 10px 0 100px;
    border-right-style: solid;
}

article p{
    padding: 0 0 0 50px;
    margin: 5px 0 15px 0;

}
/* Work apps */

section {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 60px;

}
.work {
    display: inline-flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    flex-wrap: none;
    flex: 1;
    padding: 10px 10px 10px 20px;
    

}
section h2 {
    float: left;
    padding: 0 40px 0 20px;
    border-right-style: solid;
    align-items: stretch;
}

.apps {
    flex-shrink: 1;
    align-content: baseline;
    justify-content: stretch;
    padding: 0%;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    border: 2px solid var(--primary-color);
}
.apps:hover {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

.contacts {
    padding: 0 0 0 50px;
}

.contacts a {
    display: inline-flex;
    justify-content: space-between;
    
}

h2 {
    color: var(--tertiary-color);
}

h3 {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

footer {
background-color: var(--secondary-color);

}
footer p {
    font-size: 30px;
    color: var(--primary-color);
}

