:root {
    --primary-color: #6190b6; 
    --secondary-color: rgb(62, 62, 62); 
    --tertiary-color:#ffebcd; 
}

header {
    padding: 15px 15px;
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    position: sticky;
    top: 0%;
    margin: 0%;
    

}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
} 
 
header nav ul a {
    padding: 5px 10px;
    font-size: 1.55vw;
    color: var(--primary-color);
    
}
header h1 {
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    
}

header h1 a {
font-size: 30px;
font-weight: bold;
color: var(--secondary-color);

}

.section {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 2px #ffebcd;

}

section div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    border: 3px solid black;
    flex-wrap: wrap;
}
.side-car {
    display: flex;
    align-self: flex-start;
    align-items: stretch;
}

article p {
    float: right;
}